<form id="add_comment" action="/answer_comments" method="post">
	<input type="hidden" name="answer_comment[answer_id]" value="<%= @answer.id %>">
	<input type="text" name="answer_comment[comment]" placeholder="Add a comment..." required pattern=".+">
	<input type="submit" value="Comment">
</form>

<div id="comments">
<%= erb :"answers/comments", layout: false %>
</div>